// Convention.module.scss

h1, h2, h3, h4, h5, h6 {
  color: #002920;
}
 
.hotelsContainer {
    display: flex;
    flex-wrap: wrap;
  }
  
  .hotel {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 200px;
  }
  
  .imageContainer {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 10px;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .info {
    text-align: center;
  }
  
  .info h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .info p {
    font-size: 14px;
    color: #888;
  }
  
  .buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .cityButton {
    background-color: #58c1a3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .cityButton:hover {
    transform: scale(1.05);
  }
  
  .hotelsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  


  
  .headerImage {
    width: 800px; /* Ajustez la largeur selon vos besoins */
    height: 400px; /* Ajustez la hauteur selon vos besoins */
    margin-right: 20px; /* Espace entre l'image et le contenu */
  }
  
  .headerContent {
    flex: 1; /* Le contenu prendra tout l'espace disponible */
  }
  
  .headerContent h2 {
    font-size: 24px; /* Taille de la police du titre */
    margin-bottom: 10px; /* Espace en bas du titre */
  }
  
  .headerContent p {
    margin-bottom: 10px; /* Espace entre les paragraphes */
  }
  




 